ipv4 access-list {{ name | btr1975.render.required_string_no_spaces }}
{% for sequence in sequences %}
{% if sequence.append_option_to_end is defined %}
{% set append_option_to_end = sequence.append_option_to_end %}
{% else %}
{% set append_option_to_end = None %}
{% endif %}
{% if sequence.action == 'remark' %}
 {{ sequence.sequence | btr1975.render.sequence_number }} {{ sequence.action | btr1975.render.permit_deny_remark }} {{ sequence.remark | btr1975.render.required_string_no_spaces_begin_or_end }}
{% else %}
 {{ sequence.sequence | btr1975.render.sequence_number }} {{ sequence.action | btr1975.render.permit_deny_remark }} ipv4 {{ sequence.source | btr1975.render.standard_acl_ipv4_subnet_normalizer(nos=ansible_network_os) }} any{{ append_option_to_end | btr1975.render.acl_append_options_to_end }}
{% endif %}
{% endfor %}